

body{
    background-image: url("1.jpg");
    background-size:cover;
    font-family: 'Indie Flower', cursive;
    display: flex; 
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    height: 80vh;
    color: white;
}

#container1{
    margin-left: 80px;
    margin-top: 120px;
}


li:nth-of-type(1n+9) {
    display: none;
} 

div{
    margin-top: 50px;
    margin-left: 370px;
}

#time{
    font-size: 80px;
    display: inline-flex;
    width: 300px;
}

h1{
    margin-bottom: 3rem;
}

h2{
    font-size: 30px;
    display: inline-block;
    margin-top: 80px;
}

ul{
    font-size: 2rem;
    width: 450px;
    max-height: 18em;
}

@media(max-width: 600px){
    #time{
        font-size: 5rem;
    }
}